<div class="container">
      <h1>Administrador de Usuarios</h1>
      <br>
     <div class="row">
        <div class="col-lg-2">
    <label for="exampleInputEmail1">Buscar por DNI:</label>

</div>
        <div class="col-lg-3">
      <input type="text" class=" specialinput" id="obtenerdni">
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn btn-primary" onclick="enviar()">Buscar</button>

        </div>
      </div>
      <br>
      <br>
      <div class="positiondiv">
      <div class="row ">
         <div class="col-lg-3">
         <label>Nombre</label>
         </div>
         <div class="col-lg-3">
            <label>Sin accesos</label>
         </div>
         <div class="col-lg-3">
           <label>U.sin Facultades</label>
         </div>

         <div class="col-lg-3">
           <label>U.con Facultades</label>
         </div>
       </div>

       <div class="row ">
          <div class="col-lg-3">
          <label>FULANO 3</label>
          </div>
          <div class="col-lg-3">
             <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1">
          </div>
          <div class="col-lg-3">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="2">
          </div>

          <div class="col-lg-3 text-align: center">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="3">
          </div>
        </div>

         <div class="row ">
            <div class="col-lg-3">
            <label>FULANO 3</label>
            </div>
            <div class="col-lg-3">
               <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios1" value="1">
            </div>
            <div class="col-lg-3">
              <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios2" value="2">
            </div>

            <div class="col-lg-3 text-align: center">
              <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios2" value="3">
            </div>
          </div>

          <div class="row ">
             <div class="col-lg-3">
             <label>FULANO 3</label>
             </div>
             <div class="col-lg-3">
                <input class="form-check-input" type="radio" name="exampleRad" id="exampleRadios1" value="1">
             </div>
             <div class="col-lg-3">
               <input class="form-check-input" type="radio" name="exampleRad" id="exampleRadios1" value="2">
             </div>

             <div class="col-lg-3 text-align: center">
               <input class="form-check-input" type="radio" name="exampleRad" id="exampleRadios1" value="3">
             </div>
           </div>
         </div>

           <br>
           <br>

         <div class="row ">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">

            </div>

            <div class="col-lg-3">
              <button  class="btn btn btn-success">Guardar</button>
              <a href="calendario" class="btn btn-primary"> Volver </a>

            </div>
          </div>

          <span> Agregar Representante Legal </span> <button type="button" class="btn btn-default" onclick="addUser(1)"> + </button>
          <div id="adduser1"></div>
          <hr>

          <span> Agregar Usuarios </span> <button type="button" class="btn btn-default" onclick="addUser(2)"> + </button>
          <div id="adduser2"></div>
          <hr>

          <input class="btn btn-sm btn-default" type="submit" value="Agregar">

  </div>



<script type="text/javascript">

function enviar(){

  var x = document.getElementById("obtenerdni").value
  var z =  JSON.stringify({
  empresa: x

})


  $.ajax({
    url: '/api/getuser',
    type: 'POST',
    method: 'POST',
    data: {dni: x},
    success:function(data) {
      if ( data == "Ok" ) { window.location.href = url; }
      else { small.innerHTML = "Error al hacer el pedido. Int&#233;ntelo de nuevo o consulte con un administrador."; }
    }
  });

}


</script>


<script type="text/javascript">
function addUser( div ){
  var i, fields, id, m;

  var divContainer = document.getElementById("adduser" + div);
  fields = divContainer.getElementsByTagName("fieldset");

  for ( i = 0; i < fields.length; i++ ) {
    if ( !document.getElementById("div" + div + "user" + i) ) {
      m = i;
      id="div" + div + "user" + i;
      break;
    }
  }
  if ( !id ) { m=fields.length; id="div" + div + "user" + fields.length; }

  var newfieldset = document.createElement("FIELDSET");
  newfieldset.id = id;
  newfieldset.innerHTML = "\
  <div class='input-group'>\
    <span class='input-group-addon' id='sizing-addon2'> DNI </span>\
    <input type='text' class='form-control' aria-describedby='sizing-addon2' name='user"+div+"["+m+"][dni]' maxlength='8' onkeyup='dni(this)' required>\
    <span class='input-group-addon' id='sizing-addon2'> Nombre </span>\
    <input type='text' class='form-control' aria-describedby='sizing-addon2' name='user"+div+"["+m+"][name]' maxlength='100' required>\
    <span class='input-group-addon' id='sizing-addon2'> Email </span>\
    <input type='email' class='form-control' aria-describedby='sizing-addon2' name='user"+div+"["+m+"][mail]' maxlength='62' required>\
    <span class='input-group-addon bg-blue' id='sizing-addon2' onclick='remove(this)'> - </span>\
  </div>";

  if ( div == 2 ){ newfieldset.innerHTML += "<label> <input type='checkbox' name='user"+div+"["+m+"][facu]'> Autorizar para operaciones </label>"; }

  document.getElementById('adduser'+div).appendChild(newfieldset);
}
</script>
