<div class="container-fluid centerp">
      <h1>Cuenta por Cobrar</h1>
      <br>
     <div class="row">
        <div class="col-lg-4">
    <label for="exampleInputEmail1">Proeveedor:</label>

</div>
        <div class="col-lg-4">
      <label for="exampleInputEmail1">Marcelino S.A</label>
        </div>
        <div class="col-lg-4">

  <label for="exampleInputEmail1">RUC: 1234567</label>


        </div>
      </div>
      <div class="row">
         <div class="col-lg-4">
     <label for="exampleInputEmail1">Factura:</label>
 </div>
         <div class="col-lg-4">
            <label for="exampleInputEmail1">124423-45</label>
         </div>
         <div class="col-lg-4">


         </div>

       </div>

       <div class="row">
          <div class="col-lg-4">
      <label for="exampleInputEmail1">Monto:</label>
  </div>
          <div class="col-lg-4">
             <label for="exampleInputEmail1">2000000 soles</label>
          </div>
          <div class="col-lg-4">


          </div>

        </div>
        <div class="row">
           <div class="col-lg-4">
       <label for="exampleInputEmail1">Fecha de Emisión:</label>
   </div>
           <div class="col-lg-4">
              <label for="exampleInputEmail1">04/05/18</label>
           </div>
           <div class="col-lg-4">


           </div>

         </div>
         <div class="row">
            <div class="col-lg-4">
        <label for="exampleInputEmail1">Fecha de Vencimiento:</label>
    </div>
            <div class="col-lg-4">
               <label for="exampleInputEmail1">04/05/18</label>
            </div>
            <div class="col-lg-4">


            </div>

          </div>
          <div class="row">
             <div class="col-lg-4">
         <label for="exampleInputEmail1">Descripción:</label>
     </div>
             <div class="col-lg-4">
                <label for="exampleInputEmail1">1 millar de panetones</label>
             </div>
             <div class="col-lg-4">


             </div>

           </div>
           <div class="row">
              <div class="col-lg-4">
          <label for="exampleInputEmail1">Persona de Contacto:</label>
      </div>
              <div class="col-lg-4">
                 <label for="exampleInputEmail1">Juan Perez</label>
              </div>
              <div class="col-lg-4">


              </div>

            </div>
            <div class="row">
               <div class="col-lg-4">
           <label for="exampleInputEmail1">Telefono:</label>
       </div>
               <div class="col-lg-4">
                  <label for="exampleInputEmail1">987654321</label>
               </div>
               <div class="col-lg-4">


               </div>

             </div>
             <div class="row">
                <div class="col-lg-4">
            <label for="exampleInputEmail1">Estado:</label>
        </div>
                <div class="col-lg-4">
                   <label for="exampleInputEmail1">Pagado(PersonaX)</label>
                </div>
                <div class="col-lg-4">

                    <button type="button" class="btn btn-primary">Ver sustento</button>
                    <button type="button" class="btn btn-primary">Confirmar</button>


                </div>

              </div>
              <div class="row">
                 <div class="col-lg-4">
             <label for="exampleInputEmail1">Chat:</label>
         </div>
                 <div class="col-lg-4">

                 </div>
                 <div class="col-lg-4">


                 </div>

               </div>







         <div class="row">
            <div class="col-lg-4">  <button type="button" class="btn btn-primary">Anterior</button>
              <button type="button" class="btn btn-primary">Volver</button>
              <button type="button" class="btn btn-primary">Siguiente</button>

    </div>
            <div class="col-lg-4">



            </div>
            <div class="col-lg-4">



            </div>

          </div>




  </div>
