<div class="container-fluid centerp">
  <div>


<div class="margen mt-4">
<div class="mar">
<h4>Lleva más de 7 días sin cambiar su contraseña.
Es hora de renovar!</h4>
<img src="/img/flechas.jpg" class="img-fluid" height="90" width="90" >
<br>
<br>
<h3>Esta a un paso de cambiar su contraseña...</h3>
<p>Llene los datos.</p>
<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="basic-addon1"></span>
</div>
<input type="text" class="form-control" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="basic-addon1">→</span>
</div>
<input type="text" class="form-control" placeholder="Contraseña Actual" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text" id="basic-addon1">←</span>
</div>
<input type="text" class="form-control" placeholder="Nueva contraseña" aria-label="Username" aria-describedby="basic-addon1">
</div>
<br>
<a href="/welcome" class="btn btn-primary ancho" role="button">Cambiar contraseña!</a>
</div>

</div>



  </div>
