<div class="container-fluid ">
  <h1>Flujos Quincenales Pendientes Proyectados</h1>
  <canvas id="lineChart" height="150%" width="400"> </canvas>
  <br>

  <div class="row">
<div class="col">

  </div>
   <div class="col-6">
  <a href="/calendario" class="btn btn-primary" role="button">Volver</a>
   </div>
   <div class="col">
     <button type = "button" class="btn btn-success" id="download-pdf" >
  Download PDF
     </button>

    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
