<div class="container-fluid ">
  <h1>Flujos Quincenales Pendientes Proyectados</h1>
  <canvas id="lineChart" height="150%" width="400"> </canvas>
  <br>

  <div class="row">
<div class="col">

  </div>
   <div class="col-6">
  <button type="button" class="btn btn-primary">Volver</button>
   </div>
   <div class="col">

    </div>
  </div>
</div>
