<div class="container">
      <h1>Consulta Persona</h1>

      <br>
      <div class="row  ">
         <div class="col-lg-2">
         <label>Nombre</label>
         </div>
         <div class="col-lg-2">
           <label>DNI:XXXXXXX</label>
         </div>

         <div class="col-lg-2">

         </div>
         <div class="col-lg-2">

         </div>
         <div class="col-lg-2">

         </div>

         <div class="col-lg-2">

         </div>
       </div>
      <br>



        <div class="row ">
           <div class="col-lg-2">
           <label>Empresas Vínculadas</label>
           </div>

         </div>

         <div class="row ">
            <div class="col-lg-2">
            <label>Empresa</label>
            </div>
            <div class="col-lg-3">
              <label>Representante Legal</label>
            </div>


          </div>

          <div class="row ">
             <div class="col-lg-2">
             <label>Empresa</label>
             </div>
             <div class="col-lg-3">
               <label>Representante Legal</label>
             </div>


           </div>

           <div class="row ">
              <div class="col-lg-2">
              <label>Empresa</label>
              </div>
              <div class="col-lg-3">
                <label>Usuario con Facultades</label>
              </div>


            </div>

            <div class="row ">
               <div class="col-lg-2">
               <label>Empresa</label>
               </div>
               <div class="col-lg-3">
                 <label>Usuario sin Facultades</label>
               </div>


             </div>


           <br>
           <br>

         <div class="row ">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
             <button  class="btn btn-primary">Volver</button>
            </div>
            <div class="col-lg-3">

            </div>

            <div class="col-lg-3">

            </div>
          </div>

  </div>
