<div class="container">
      <h1>Consulta Empresa</h1>

      <br>
      <div class="row  ">
         <div class="col-lg-2">
         <label>RAZON SOCIAL S.A.</label>
         </div>
         <div class="col-lg-2">
           <label>RUC:XXXXXXX</label>
         </div>

         <div class="col-lg-2">

         </div>
         <div class="col-lg-2">

         </div>
         <div class="col-lg-2">

         </div>

         <div class="col-lg-2">

         </div>
       </div>
      <br>



        <div class="row ">
           <div class="col-lg-2">
           <label>Empresas Vínculadas</label>
           </div>

         </div>

         <div class="row ">
            <div class="col-lg-2">
            <label>Empresa</label>
            </div>
            <div class="col-lg-3">
              <select class="form-control color">
                <option>Representante Legal</option>
                <option>Usuario con Facultades</option>
                <option>Usuario sin Facultades</option>
                <option>Inhabilitado/Suspendido</option>
               </select>
            </div>


          </div>

          <div class="row ">
             <div class="col-lg-2">
             <label>Empresa</label>
             </div>
             <div class="col-lg-3">
               <select class="form-control color">
                 <option>Representante Legal</option>
                 <option>Usuario con Facultades</option>
                 <option>Usuario sin Facultades</option>
                 <option>Inhabilitado/Suspendido</option>
                </select>
             </div>


           </div>

           <div class="row ">
              <div class="col-lg-2">
              <label>Empresa</label>
              </div>
              <div class="col-lg-3">
                <select class="form-control color">
                  <option>Representante Legal</option>
                  <option>Usuario con Facultades</option>
                  <option>Usuario sin Facultades</option>
                  <option>Inhabilitado/Suspendido</option>
                 </select>
              </div>


            </div>

            <div class="row ">
               <div class="col-lg-2">
               <label>Empresa</label>
               </div>
               <div class="col-lg-3">
                 <select class="form-control color">
                    <option>Representante Legal</option>
                    <option>Usuario con Facultades</option>
                    <option>Usuario sin Facultades</option>
                    <option>Inhabilitado/Suspendido</option>
                  </select>
               </div>


             </div>


           <br>
           <br>

         <div class="row ">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
             <button  class="btn btn-primary">Volver</button>
            </div>
            <div class="col-lg-3">

            </div>

            <div class="col-lg-3">

            </div>
          </div>

  </div>
