<div class="container-fluid centerp">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
         <div class="form-group">
    <label for="exampleInputEmail1"><b>DNI</b></label>
    <input type="email" class="form-control"  placeholder="">
  </div>

   <div class="form-group">
    <label for="exampleInputEmail1"><b>Contraseña</b></label>
    <input type="password" class="form-control"  placeholder="">
  </div>
        </div>
        <div class="col-lg-4"></div>

      </div>

      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 ">
        <a href="/welcome" class="btn btn-primary" role="button">Entrar</a>
        <br>
        <br>
        <a href="/registro">Registrar Empresa</a>
        <br>
        <a href="/olvide">Olvidaste tu contraseña</a>
        <BR>

        <img src="/img/logo.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-lg-4"></div>

      </div>


    </div>

    <script type="text/javascript">

    


    </script>
