<div class="container-fluid centerp">
      <h1>Usuario Master</h1>
      <br>
     <div class="row">
        <div class="col-lg-4">  <div class="form-group">
    <label for="exampleInputEmail1"><b>Consultar Empresa:</b></label>
  </div>
</div>
        <div class="col-lg-4">

   <div class="form-group">
      <input type="email" class="form-control"  placeholder="Digite RUC">

  </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
  <button type="button" class="btn btn-primary">Consultar</button>

  </div>
        </div>

      </div>
      <br>

      <div class="row">
         <div class="col-lg-4">  <div class="form-group">
     <label for="exampleInputEmail1"><b>Consultar Usuario:</b></label>
   </div>
 </div>
         <div class="col-lg-4">

    <div class="form-group">
       <input type="email" class="form-control"  placeholder="Digite DNI">

   </div>
         </div>
         <div class="col-lg-4">
           <div class="form-group">
   <button type="button" class="btn btn-primary">Consultar</button>

   </div>
         </div>

       </div>

       <br>
       <br>




        <div class="row">
           <div class="col-lg-4">  <div class="form-group">
       <label for="exampleInputEmail1"><b>Solicitar Reporte:</b></label>
       </div>
       </div>
           <div class="col-lg-4">

             <div class="form-group">

        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
        </select>
       </div>
           </div>
           <div class="col-lg-4">
             <div class="form-group">
       <button type="button" class="btn btn-primary"><b>+<b></button>

       </div>
           </div>

         </div>

         <div class="row">
            <div class="col-lg-4">  <div class="form-group">

      </div>
    </div>
            <div class="col-lg-4">

              <button type="button" class="btn btn-primary">Exportar</button>

            </div>
            <div class="col-lg-4">

              <button type="button" class="btn btn-primary">Volver</button>

            </div>

          </div>




  </div>
