<div class="container-fluid centerp">

<div class="margen mt-4">
  <div class="mar">
 <img src="/img/candado.png" class="img-fluid" >
 <br>
 <br>
 <h3>Olvidé mi Contraseña</h3>
 <p>Se le enviará una contraseña temporal al correo que indique.</p>
  <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
  <br>
  <a href="/welcome" class="btn btn-primary ancho" role="button">Generar una temporal</a>
</div>

</div>



</div>
