

<div id="contenedor" class="container-fluid centerp">

      <h1>¡Bienvenid@! Registra una nueva empresa</h1>
      <br>



       <div class="row">
        <div class="col-lg-4">  <div class="form-group">
    <label for="exampleInputEmail1"><b>Ingresar RUC</b></label>
    <input type="number" class="form-control" id="ruc"  placeholder="">
  </div></div>
  <div class="col-lg-4">  <div class="form-group">
<label for="exampleInputEmail1"><b>Ingresar Razon social</b></label>
<input type="text" class="form-control" id="razon"  placeholder="">
</div></div>


      </div>
      <h4> Ingresar Representantes Legales: </h4>
      <br>
     <div id="wrapper1">
       <fieldset>
         <div class="input-group">
           <span class="input-group-addon" id="sizing-addon1"> DNI </span>
           <input type="text" class="form-control" aria-describedby="sizing-addon2" name="dni1" maxlength="8">
           <span class="input-group-addon" id="sizing-addon2"> Nombre </span>
           <input type="text" class="form-control" aria-describedby="sizing-addon2" name="name1" maxlength="100">
           <span class="input-group-addon" id="sizing-addon3"> Email </span>
           <input type="email" class="form-control" aria-describedby="sizing-addon2" name="mail1" maxlength="62">
           <span class="input-group-addon bg-blue " onclick="add('1')"> + </span>
         </div>
       </fieldset>
     </div>
       <br>

      <h4>Ingresar Usuarios</h4>

      <div id="wrapper2" class="centered">
          <fieldset>
            <div class="input-group">
              <span class="input-group-addon" id="dni"> DNI </span>
              <input type="text" class="form-control" aria-describedby="sizing-addon2" name="dni2" maxlength="8">
              <span class="input-group-addon" id="name"> Nombre </span>
              <input type="text" class="form-control" aria-describedby="sizing-addon2" name="name2">
              <span class="input-group-addon" id="email"> Email </span>
              <input type="email" class="form-control" aria-describedby="sizing-addon2" name="mail2">
              <span class="input-group-addon bg-blue" onclick="add('2')"> + </span>
            </div>
            <br>

            <label> <input type="checkbox" name="facultades"> Autorizar para operaciones </label>

          </fieldset>




</div>
        <div class="col-lg-4">

        </div>

      </div>


    </div>

    <br>

    <div class="row">
        <div class="col-lg-6">
        <a class="nav-item nav-link mr-4" href="#" data-toggle="modal" data-target="#terminos" ><b> Revisar Términos y Condiciones</b></a> </div>

        <div class="col-lg-6">
          <button class="btn btn-primary" onclick="registro()" >Enviar e Imprimir</button>
          <a href="/index" class="btn btn-danger"> Volver </a>





        </div>

      </div>


  </div>

  <!-- Modal -->
<div class="modal fade" id="terminos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Términos y Condiciones.</h4>
      </div>
      <div class="modal-body">
       <p>
         - B2Beyond SAC es una empresa que provee el servicido de alarma de facturas por cobrar, la información que llegue a la página será provista por usuarios facultados autorizados por la empresa que cuenten con la Clave SOL de la misma. La información llega desde el sistema SOL del cliente al buzón facturas@cashin.pe. Por ello B2Beyond SAC no se responsabiliza de la información cargada, y solo permite el acceso a la misma solo a los usuarios autorizados por las empresas vinculadas a la factura cargada en el sistema. La factura solo puede ser ingresada por el emisor de la factura.
       </p>
       <br>
       <p>
         - La inscripción de una empresa y sus usuarios autorizados se realiza de forma física. Para ello se deben adjuntar:
* El formulario emitido por Cash In con los datos ingresados por el uno de los usuarios. Firmado por todos los usuarios involucrados.
* Copia de DNI de los usuarios (Tanto Representantes Legales como Usuarios).
* Ficha de SUNAT para verif
* Copia de vigencia de pode
* Comprobante del pago po
       </p>
       <br>
       <p>
         - Las empresas siempre deb mostrando los documentos. Los usuarios solo deben presen pción, una vez que estén inscritos podrán ingresar más.
       </p>
      </div>
      <div class="modal-footer">
        <label>
              <input type="checkbox" id="accept" data-dismiss="modal"> Acepto
            </label>
      </div>
    </div>
  </div>
</div>
    <!-- Fin Modal -->




    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

      <script>
      function add( div ){
  var newfieldset = document.createElement("FIELDSET");
  newfieldset.innerHTML = "\
  <div class='input-group'>\
    <br>\
    <span class='input-group-addon' id='sizing-addon2'> DNI </span>\
    <input type='text' class='form-control' aria-describedby='sizing-addon2' name='dni"+div+"' maxlength='8' onkeyup='dni(this)'>\
    <span class='input-group-addon' id='sizing-addon2'> Nombre </span>\
    <input type='text' class='form-control' aria-describedby='sizing-addon2' name='name"+div+"' maxlength='100'>\
    <span class='input-group-addon' id='sizing-addon2'> Email </span>\
    <input type='email' class='form-control' aria-describedby='sizing-addon2' name='mail"+div+"' maxlength='62'>\
    <span class='input-group-addon bg-blue' id='sizing-addon2' onclick='remove(this)'>-</span>\
  </div>";
  if ( div=="2" ){ newfieldset.innerHTML += "<label> <input type='checkbox' name='facultades'> Autorizar para operaciones </label>"; }
  document.getElementById('wrapper'+div).appendChild(newfieldset);
}

function remove(clicked){
  var fieldset = clicked.parentNode.parentNode;
  fieldset.remove();
}

      function registro(){

        var ruc = document.getElementById('ruc').value
        var razon = document.getElementById('razon').value




        $.ajax({
             url: '/api/regempresa',
             type: 'POST',
             method: 'POST',
             data: {ruc: ruc, razon:razon },
             success: function(data){
             console.log(data);

             reps();}


           });
         }

     function reps(){

                var email = document.getElementById('email').value;
                var dni = document.getElementById('dni').value;
                var name = document.getElementById('name').value;
                var razon = document.getElementById('razon').value;

         $.ajax({
              url: '/api/adduser',
              type: 'POST',
              method: 'POST',
              data: {email:email , dni:dni , name:name , empresa: razon },
              success: function(data1){
              
            }

          });
          }













      </script>
