<script type="text/javascript">


 function hacer(){
   document.getElementById("contenedor").appendChild("val1");
 }


</script>

<div id="contenedor" class="container-fluid centerp">

      <h1>¡Bienvenid@! Registra una nueva empresa</h1>
      <br>

       <h4>Ingresar Representante Legal</h4>

       <div class="row">
        <div class="col-lg-4">  <div class="form-group">
    <label for="exampleInputEmail1"><b>Ingresar RUC</b></label>
    <input type="number" class="form-control"  placeholder="">
  </div></div>


      </div>


      <div id="val1" class="row">
        <div class="col-lg-3">  <div class="form-group">
    <label for="exampleInputEmail1"><b>DNI</b></label>
    <input type="number" class="form-control"  placeholder="">
  </div></div>
        <div class="col-lg-3">

   <div class="form-group">
    <label for="exampleInputEmail1"><b>RUC</b></label>
    <input type="number" class="form-control"  placeholder="">
  </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
    <label for="exampleInputEmail1"><b>Mail</b></label>
    <input type="email" class="form-control"  placeholder="">
  </div>
        </div>

        <div class="col-lg-2">

          <br>
        <button  class="btn btn-primary" onclick="hacer()" >+</button>
        </div>

      </div>

      <h4>Ingresar Usuarios</h4>

     <div class="row">
        <div class="col-lg-3">  <div class="form-group">
    <label for="exampleInputEmail1"><b>DNI</b></label>
    <input type="number" class="form-control"  placeholder="">
  </div></div>
        <div class="col-lg-3">

   <div class="form-group">
    <label for="exampleInputEmail1"><b>RUC</b></label>
    <input type="number" class="form-control"  placeholder="">
  </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
    <label for="exampleInputEmail1"><b>Mail</b></label>
    <input type="email" class="form-control"  placeholder="">
  </div>
        </div>

        <div class="col-lg-2">

          <br>
        <button href="/welcome" class="btn btn-primary" role="button">+</button>
        </div>

      </div>

       <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">

  <div class="form-check form-check-inline">
    <label class="form-check-label" for="inlineCheckbox1"><b>Autorizar para las operaciones</b></label>

  <input class="form-check-input ml-2" type="checkbox" id="inlineCheckbox1" value="option1">

</div>
        <div class="col-lg-4">

        </div>

      </div>


    </div>

    <br>

    <div class="row">
        <div class="col-lg-6">
        <a class="nav-item nav-link mr-4" href="#" data-toggle="modal" data-target="#terminos" ><b> Revisar Términos y Condiciones</b></a> </div>

        <div class="col-lg-6">
          <a href="/welcome" class="btn btn-primary" role="button">Enviar e Imprimir</a>





        </div>

      </div>


  </div>

  <!-- Modal -->
<div class="modal fade" id="terminos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Términos y Condiciones.</h4>
      </div>
      <div class="modal-body">
       <p>
         - B2Beyond SAC es una empresa que provee el servicido de alarma de facturas por cobrar, la información que llegue a la página será provista por usuarios facultados autorizados por la empresa que cuenten con la Clave SOL de la misma. La información llega desde el sistema SOL del cliente al buzón facturas@cashin.pe. Por ello B2Beyond SAC no se responsabiliza de la información cargada, y solo permite el acceso a la misma solo a los usuarios autorizados por las empresas vinculadas a la factura cargada en el sistema. La factura solo puede ser ingresada por el emisor de la factura.
       </p>
       <br>
       <p>
         - La inscripción de una empresa y sus usuarios autorizados se realiza de forma física. Para ello se deben adjuntar:
* El formulario emitido por Cash In con los datos ingresados por el uno de los usuarios. Firmado por todos los usuarios involucrados.
* Copia de DNI de los usuarios (Tanto Representantes Legales como Usuarios).
* Ficha de SUNAT para verif
* Copia de vigencia de pode
* Comprobante del pago po
       </p>
       <br>
       <p>
         - Las empresas siempre deb mostrando los documentos. Los usuarios solo deben presen pción, una vez que estén inscritos podrán ingresar más.
       </p>
      </div>
      <div class="modal-footer">
        <div class="form-check form-check-inline">
    <label class="form-check-label" for="inlineCheckbox1"><b>Acepto</b></label>

  <input class="form-check-input ml-2" type="checkbox" id="inlineCheckbox1" value="option1">

</div>
      </div>
    </div>
  </div>
</div>
    <!-- Fin Modal -->
