<div class="container textcenter ">
      <h1>Bienvenid@ Fulan@ </h1>

      <br>
      <div class="row textcenter ">
         <div class="col-lg-4">

         </div>
         <div class="col-lg-4">
          <a href="/calendario" class="btn btn-primary ancho" role="button">EMPRESA 1 SAC</a>
         </div>

         <div class="col-lg-4">

         </div>




       </div>
      <br>



        <div class="row ">

           <div class="col-lg-4">

           </div>

           <div class="col-lg-4">
           <a href="/calendario" class="btn btn-primary ancho" role="button">EMPRESA 2 SAC</a>
           </div>
           <div class="col-lg-4">

           </div>
         </div>

         <br>

         <div class="row ">

            <div class="col-lg-4">

            </div>

            <div class="col-lg-4">
            <a href="/calendario" class="btn btn-primary ancho" role="button">EMPRESA 3 SAC</a>
            </div>
            <div class="col-lg-4">

            </div>
          </div>

          <br>

          <div class="row ">
             <div class="col-lg-4">

             </div>

             <div class="col-lg-4">
              <a href="/registro" class="btn btn-primary ancho" role="button">REGISTRAR UNA NUEVA EMPRESA</a>
             </div>
             <div class="col-lg-4">

             </div>


           </div>


           <br>


         <div class="row ">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
              <a href="/index" class="btn btn-danger" role="button">Salir</a>
            </div>
            <div class="col-lg-4">

            </div>


          </div>

  </div>
