.positiondiv{

  background-color: #3399FF;
  text-align: center;
  color: #FFFF;
  height: 300px;
  border-radius:10px;
}
.specialinput{
  background-color: #3399FF;
  color: white;
  border-radius:10px;
}
